<ion-header>
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button [routerLink]="['/login']" routerLinkActive="router-link-active">
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="login == true" [routerLink]="['/perfil']" routerLinkActive="router-link-active">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="login == true" (click)="logout()" >
        <ion-icon  name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Mi app home</p>

  <ion-card *ngIf="login == true && rol == 'Turista'">
    <ion-card-header>
      <ion-img src="../../../assets/QuitoPropietario.jpg"></ion-img>
      <ion-card-subtitle>Quito y sus valles</ion-card-subtitle>
      <ion-card-title>BIENVENIDO TURISTA </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Guarda la ubiicación de tus lugares favoritos de la cuidad de Quito la carita de Dios.
    </ion-card-content>
  </ion-card>
  
  <ion-card *ngIf="login == true && rol == 'Propietario'">
    <ion-card-header>
      <ion-img src="../../../assets/QuitoTurista.jpg"></ion-img>
      <ion-card-subtitle>Centro de Quito</ion-card-subtitle>
      <ion-card-title>BIENVENIDO PROPIETARIO </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Se parte del turismo en Quito mostrando tu arte en todos los sentidos.
    </ion-card-content>
  </ion-card>
</ion-content>
